body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
    font-size: 18px;
    color: #2D3748;
    background-color: #FFFFFF;
    }

header {
    background-color: #63B3ED;
    color: #FFFFFF;
    }
    
.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }

header h1 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 36px;
    }

header p {
    text-align: center;
    padding-bottom: 20px;
    }

header img {
    align-items:center;
    }

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    padding: 20px;
    }

main article {
    background-color: #E2E8F0;
    padding: 20px;
    }

main article h2 {
    font-size: 32px;
    color: #48BB78;
    }
main article img {
    float:left;
    }

main article p {
    font-size: 18px;
    color: #2D3748;
    }

main article span {
    font-size: 18px;
    color: #718096;
    }

main aside {
    
    padding: 20px;
    }

main aside h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #4299E1;
    }

main aside a {
    text-decoration: none;
    color:#63B3ED;
    }

main aside ul {
    list-style-type: none;
    padding: 0;
    }

footer {
    background-color: #2D3748;
    color: #FFFFFF;
    }